<h1>Guests</h1>
<%@guests.each do |guest|%>

<h2><%= guest.name %></h2>

<p><%= link_to "Edit #{guest.name}'s Information", "/guests/#{guest.id}/edit"%></p>
<p><%= link_to "Delete #{guest.name}", "/guests/#{guest.id}", method: :delete %> </p>

<p>SpanishSpeaker:&nbsp;<%=guest.spanish_speaker%></p>

<p><%=guest.price_per_night_pesos%></p>

<% end %>

<form action= "/guests" method="gets">
  Search for Guest: <input type='text' name='searchtext'/><br/>
  <input type="submit" value= "Search">
</form>