<%@hotel_guests.each do |guest|%>
<h2><%=guest.name%></h2>
<p>Spanish-speaker?<%=guest.spanish_speaker%></p>
<p><%=guest.price_per_night_pesos%></p>
<p><%=guest.created_at%></p>
<p><%=guest.updated_at%></p>
<%end%>

