<h1>Hotels in Puerto Escondido</h1>
<p><%= link_to "Add New Hotel", "/hotels/new"%>

<%@hotels.each do |hotel|%>

<h2>Hotel name:<%= link_to "#{hotel.name}", "/hotels/#{hotel.id}"%></h2>

<p> <%=hotel.name%>: <%= hotel.count_guests %> Guests</p>
<p><%= link_to "Edit #{hotel.name}'s Information", "/hotels/#{hotel.id}/edit"%></p>
<p><%=link_to "Delete #{hotel.name}", "/hotels/#{hotel.id}", method: :delete %> </p>


<p>Created at time_stamp:&nbsp; <%=hotel.created_at%>
<p>Has starlink?&nbsp;<%=hotel.starlink%>
<p>Meters from beach: &nbsp;<%=hotel.meters_from_beach%>
<%end%>

<p><%= link_to "Sort by number of guests", "/hotels/?sort=true"%></p>

<form action= "/hotels" method="gets">
  Search for Hotel: <input type='text' name='searchtext'/><br/>
  <input type="submit" value= "Search">
</form>
